<!DOCTYPE html>
<html>
  <head>
    <title>Поиск школ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Ogvr5OsYlxJSvoCGuG7xUaZuTwlZSMp/IZ5u5/iDQK3Oqq/6lUfQ6IrN9zW1/6S" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Поиск школ</h1>
      <form method="post">
        <div class="form-group">
          <label for="city">Введите название города:</label>
          <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <button type="submit" class="btn btn-primary">Найти школы</button>
      </form>
    </div>
  </body>
</html>
